.wrapper {
  margin-block-end: var(--spacing-20x);
  margin-block-start: var(--spacing-20x);
  position: relative;
}

.card {
  @media (width >= 768px) {
    grid-column: 1 / 7;
    margin-block-end: var(--spacing-13x);
    max-inline-size: 100%;
  }

  @media (width >= 1024px) {
    grid-column: 1 / 5;
  }

  /* Grid positions */
  &:nth-child(2n + 2) {
    @media (width >= 768px) {
      grid-column: 7 / -1;
    }
  }

  &:nth-child(3n + 1) {
    @media (width >= 1024px) {
      grid-column: 1 / 5;
    }
  }

  &:nth-child(3n + 2) {
    @media (width >= 1024px) {
      grid-column: 5 / 9;
    }
  }

  &:nth-child(3n + 3) {
    @media (width >= 1024px) {
      grid-column: 9 / -1;
    }
  }

  &:nth-last-child(-n + 2) {
    @media (width >= 768px) {
      margin-block-end: 0;
    }
  }

  &:nth-last-child(-n + 3) {
    @media (width >= 1024px) {
      margin-block-end: 0;
    }
  }
}
