.wrapper {
  position: absolute;
  top: calc(50% - 100px);
  right: 0;
  bottom: auto;
  left: 0;
  width: 100%;
  margin: auto;
  margin: 0 auto;
  aspect-ratio: 435 / 167;

  @media (min-width: 821px) {
    top: auto;
    bottom: 0;
  }

  @media (min-width: 1700px) {
    aspect-ratio: 3146 / 1147;
  }

  @media (min-width: 821px) and (max-height: 900px) {
    top: auto;
    bottom: 0;
    max-width: 2000px;
  }

  @media (min-width: 1400px) and (max-height: 900px) {
    top: calc(50% - 100px);
    bottom: auto;
  }
}

.twinklingStars {
  position: absolute;
  right: -30%;
  bottom: 20%;
  left: 0;
  width: 25%;
  max-width: 350px;
  margin: auto;
  aspect-ratio: 4/2;
  color: #fff;

  @media (min-width: 821px) {
    bottom: 30%;
  }

  & path {
    fill: #fff;
    transform-origin: center center;
    will-change: transform, opacity;
  }
}

.twinklingStarsSky {
  top: 0;
  right: auto;
  bottom: auto;
  left: max(10%, 100px);

  & path {
    fill: #fff;
    transform-origin: center center;
    will-change: transform, opacity;
  }

  @media (min-width: 768px) {
    left: max(20%, 230px);
  }
}
