.isMobile {
  @media only screen and (orientation: landscape) {
    .headerParallaxLandscape {
      display: block;
    }

    .headerParallaxAnimated {
      display: none;
    }
  }
}

.headerParallaxLandscape {
  display: none;
}
